/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap');

/* General */
* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #2E2E2E;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #2E2E2E;
}

p {
    margin: 10px, 0;
}

img {
    width: 100%;
}

/* Headings and logos */
h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2E2E2E;
}

#logo {
    float: left;
    font-size: 300%;

}

/* Navigation */

.navbar {
    background-color: #C8E6C9;
    color: #2E2E2E;
    height: 100px;
}

.navbar ul {
    display: flex;
    font-size: 150%;
    font-weight: 700;

}

.navbar a {
    padding: 20px;
    margin: 0 10px;

}

.navbar a:hover {
    border-bottom: 1px solid #2E2E2E;
}

.active {
    border-bottom: 1px solid #2E2E2E;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Hero image */

#hero-image {
    height: 600px;
}

/* Intro Paragraphs */
/* Credit - the base code was taken from w3schools and adapted - https://www.w3schools.com/howto/howto_css_three_columns.asp */
.column {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column p {
    font-size: 15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


/* Homepage - Services we offer section */
#services {
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
}

#services-space {
    height: 400px;
    background-color: rgba(158, 206, 226, 0.3);
}

/* Services we offer icons */
.services-icon i {
    font-size: 220%;
    color: green;
    padding-bottom: 15px;
}

/* Footer */
footer {
    height: 100px;
    background-color: #C8E6C9;
    padding-left: 30px;
    padding-bottom: 10px;
    text-align: center;
}

footer p {
    font-size: 14px;
}

footer ul {
    text-align: center;

}

.footer-links>li {
    display: inline;
}

.footer-icons {
    font-size: 200%;
    margin: 1%;
    padding-top: 10px;
    color: #2E2E2E;
}

/* About us */
.left-about {
    padding: 40px 30px;
    width: 50%;
    float: left;
    clear: both;
}

#right-about {
    display: flex;
    justify-content: right;
    padding-top: 50px;

}

/* Credit - Circle image code taken from Code Institute Love Running Project and adapted */

#circle-container {
    width: 375px;
    height: 375px;
    padding: 20px;
    border-style: solid;
    border-color: #9ECEE2;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Services */

.column2 {
    float: right;
    width: 50%;
    padding: 30px 0;
}

.column2 h2 {
    padding: 20px;
    background-color: rgba(158, 206, 226, 0.3);

}

.column2 p {
    padding: 0 20px 20px 20px;
    background-color: rgba(158, 206, 226, 0.3);
}

.column2 img {
    height: 80%;
    width: 80%;
    padding: 0 50px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}