/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap");

/* General */
* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #2e2e2e;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #2e2e2e;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Headings and logos */
h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #2e2e2e;
}

#logo {
    float: left;
    font-size: 300%;
}

/* Button */
/* Credit - button style created using following tool https://buttonoptimizer.com/ and modified by myself */
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    margin: 10px;
    border: 1px solid #ffa600;
    border-radius: 30px;
    background: #ffa600;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa600), to(#ffa600));
    background: -moz-linear-gradient(top, #ffa600, #ffa600);
    background: linear-gradient(to bottom, #ffa600, #ffa600);
    font: normal normal bold 18px Open Sans;
    color: #ffffff;
    text-decoration: none;
}

.button:hover,
.button:focus {
    border: 1px solid #ffbf00;
    background: #ffc700;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc700), to(#ffc700));
    background: -moz-linear-gradient(top, #ffc700, #ffc700);
    background: linear-gradient(to bottom, #ffc700, #ffc700);
    color: #ffffff;
    text-decoration: none;
}

.button:active {
    background: #996400;
    background: -webkit-gradient(linear, left top, left bottom, from(#996400), to(#ffa600));
    background: -moz-linear-gradient(top, #996400, #ffa600);
    background: linear-gradient(to bottom, #996400, #ffa600);
}

/* Navigation */

.navbar {
    background-color: #c8e6c9;
    color: #2e2e2e;
    height: 100px;
}

.navbar ul {
    display: flex;
    font-size: 150%;
    font-weight: 700;
}

.navbar a {
    padding: 4px;
    margin: 0 10px;
}

.navbar a:hover {
    border-bottom: 1px solid #2e2e2e;
}

.active {
    border-bottom: 1px solid #2e2e2e;
}

.container {
    margin: 0 auto;
    overflow: auto;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

/* Hero image */

#hero-image {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

/* Intro Paragraphs */
/* Credit - the base code was taken from w3schools and adapted - https://www.w3schools.com/howto/howto_css_three_columns.asp */
#section-container-intro {
    padding: 50px 0;
}

.column-intro {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column p {
    font-size: 15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

/* Homepage - Services we offer section */
#services {
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
}

#services-container {
    background-color: rgba(158, 206, 226, 0.3);
    padding: 32px 0;
}

/* Services we offer icons */
.icons {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.icons i {
    font-size: 220%;
    color: green;
    padding-bottom: 15px;
}

/* Footer */
footer {
    height: 110px;
    background-color: #c8e6c9;
    padding-left: 30px;
    padding-bottom: 10px;
    text-align: center;
    overflow: hidden;
}

footer p {
    font-size: 14px;
}

footer ul {
    text-align: center;
}

.footer-links>li {
    display: inline;
}

.footer-icons {
    font-size: 200%;
    margin: 1%;
    padding-top: 10px;
    color: #2e2e2e;
}

.footer-icons:hover {
    color: black;
}

/* About us */
.flex-about {
    display: flex;
    align-items: center;
}

.left-about {
    padding: 40px 30px;
    width: 90%;
}

#right-about {
    display: flex;
    justify-content: right;
    padding: 50px;
}

/* Credit - Circle image code taken from Code Institute Love Running Project and adapted */

#circle-container {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-style: solid;
    border-color: #9ecee2;
    border-width: 1px;
    border-radius: 50%;
    margin-right: 10px;
}

#circle-cover-bg {
    background: url("../images/jb_300x300.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for circle image */
/* Credit - Code taken from Love Running Project and adapted */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Services */

.half-column-background {
    background-color: rgba(158, 206, 226, 0.3);
    padding: 16px 0;
}

.half-column {
    float: right;
    width: 50%;
    margin: 30px 0;
}

.half-column h2 {
    padding: 20px;
    margin-right: 50px;
}

.half-column p {
    padding: 0 20px 20px 20px;
}

.half-column img {
    height: 80%;
    width: 80%;
    padding: 0 50px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Contact */
/* Credit - box shadow style taken from https://getcssscan.com/css-box-shadow-examples */
.form-section {
    background-color: rgba(158, 206, 226, 0.3);
}

.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 40px auto;
    max-width: 675px;
    border-radius: 30px;
    color: #2e2e2e;
    background-color: rgba(158, 206, 226, 0.5);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form h2 {
    padding-bottom: 25px;
}

.form h2,
h3 {
    text-align: center;
}

.text-input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#services-offered {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#submit-button {
    display: inline-block;
    background-color: #ffa500;
    color: #fff;
    border: 1px solid #ffa600;
    border-radius: 30px;
    font: normal normal bold 18px Open Sans;
    font-size: 120%;
    width: auto;
    padding: 12px 24px;
    text-align: center;
    align-self: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}

#submit-button:hover {
    opacity: 0.8;

}

/* Media queries */
/* For large and medium screens wide and down */
@media screen and (max-width: 1140px) {
    #right-about {
        padding-top: 20px;
    }

    .left-about {
        width: auto;
        text-align: center;
        padding: 20px;
    }

    .left-about p {
        padding: 10px 50px 10px 10px;
        text-align: center;
    }

    .flex-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #circle-container {
        width: 300px;
        height: 300px;
        padding: 10px;
    }

    .half-column {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .half-column h2,
    p {
        text-align: center;
        margin: 10px;
    }

    .half-column img {
        height: 50%;
        width: 50%;
    }

    .button {
        margin-top: 30px;
    }
}

/* For medium screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #hero-image {
        height: 400px;
    }

    #section-container-intro {
        padding: 20px;
    }

    .column-intro {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .column-intro h2,
    p {
        text-align: center;
        margin: 20px;
    }

    .icons {
        float: right;
        width: 50%;
        padding: 20px 0;
    }

    .navbar {
        height: 80px;
        font-size: 70%;
        font-weight: 700;
        background-color: #c8e6c9;
    }

    .navbar .flexbox {
        flex-direction: column;
        height: 90%;
    }

    .navbar ul {
        padding: 0;
    }

    .navbar a {
        padding: 0;
    }

    .left-about h2,
    p {
        margin: 0;
        width: auto;
    }
}

/* For small screen sizes from 500px wide and down */
@media screen and (max-width: 500px) {
    .icons {
        width: 100%;
        padding: 30px 0;
    }

    .left-about {
        width: auto;
    }


    .left-about p {
        padding: 20px;
    }

    #circle-container {
        width: 275px;
        height: 275px;
        padding: 5px;
    }
}