/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap');

/* General */
* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #2E2E2E;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #2E2E2E;
}

p {
    margin: 10px, 0;
}

img {
    width: 100%;
}

/* Headings and logos */
h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2E2E2E;
}

#logo {
    float: left;
    font-size: 300%;

}

/* Navigation */

.navbar {
    background-color: #C8E6C9;
    color: #2E2E2E;
    height: 100px;
}

.navbar ul {
    display: flex;
    font-size: 150%;
    font-weight: 700;

}

.navbar a {
    padding: 20px;
    margin: 0 10px;

}

.navbar a:hover {
    border-bottom: 1px solid #2E2E2E;
}

.active {
    border-bottom: 1px solid #2E2E2E;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Hero image */

#hero-image {
    height: 600px;
}

/* Intro Paragraphs - the base code was taken from w3schools and built upon - https://www.w3schools.com/howto/howto_css_three_columns.asp*/

.column {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column p {
    font-size: 15px;
    padding-top: 10px;
}


/* Homepage - Services we offer section */
#services {
    text-align: center;
    font-weight: 700;
}

/* icons */
i {
    font-size: 220%;
    color: green;
    padding-bottom: 15px;
}